# example workflow for Finite State scans using the CLT
name: fs-clt
on:
  push:
    branches: [ main, master, develop, stage, release ]
  pull_request:
    branches: [ main, master, develop, stage, release ]
  workflow_dispatch:
jobs:
  finitestate:
    runs-on: ubuntu-latest
    env:
      FINITE_STATE_DOMAIN: ${{ vars.FINITE_STATE_DOMAIN }}
      FINITE_STATE_AUTH_TOKEN: ${{ secrets.FINITE_STATE_AUTH_TOKEN }}
      GITHUB_USER_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GITHUB_REPOSITORY_OWNER_NAME: ${{ github.repository_owner }}
      GITHUB_REPOSITORY_NAME: ${{ github.event.repository.name }}
      GITHUB_REPOSITORY_BRANCH_NAME: ${{ github.ref_name }}
    steps:
    - name: Checkout Source
      uses: actions/checkout@v6
    - name: Setup Java JDK
      uses: actions/setup-java@v5
      with:
        java-version: 25
        distribution: temurin
        cache: maven
    - name: Maven Build
      run: mvn -B -DskipTests package
    - name: Finite State Full Scan
      if: ${{ github.event_name != 'pull_request' }}
      env:
        PROJECT_NAME: ${{ github.event.repository.name }}
        PROJECT_VERSION: "${{ github.ref_name }}-${{ github.sha }}"
      run: |
        curl -X 'GET' "https://$FINITE_STATE_DOMAIN/api/config/clt" \
          -H "X-Authorization: $FINITE_STATE_AUTH_TOKEN" \
          -o finitestate.jar

        # Run a source code scan
        java -jar finitestate.jar --scan --name=$PROJECT_NAME --version=$PROJECT_VERSION --all || true

        # Run a binary scan, including Binary SAST, Config Analysis, and Reachability Analysis
        java -jar finitestate.jar --upload=sca,sast,config,vulnerability_analysis --name=$PROJECT_NAME --version=$PROJECT_VERSION target/webgoat-2025.4-SNAPSHOT.jar || true
    - name: Finite State PR Scan
      if: ${{ github.event_name == 'pull_request' }}
      env:
        PROJECT_NAME: ${{ github.event.repository.name }}
        PROJECT_VERSION_NAME: ${{ github.base_ref }}
      run: |
        curl -X 'GET' "https://$FINITE_STATE_DOMAIN/api/config/clt" \
          -H "X-Authorization: $FINITE_STATE_AUTH_TOKEN" \
          -o finitestate.jar

        java -jar finitestate.jar --scan --name=$PROJECT_NAME --version=$PROJECT_VERSION_NAME || true
        # Do not run a full binary scan for PRs
